@font-face {
    font-family: 'regular';
    src: url(../fonts/gothampro.ttf);
}

@font-face {
    font-family: light;
    src: url(../fonts/gothampro_light.ttf);
}

@font-face {
    font-family: medium;
    src: url(../fonts/gothampro_medium.ttf);
}

body {
    margin: 0;
}

.container {
    border: 1px solid rgb(255, 0, 0);
    margin: 0px auto;
    max-width: 1400px;
    padding: 0;
}

li {
    list-style-type: none;
    margin-left: 58px;
    font-family: 'regular';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

ul {
    display: flex;
    margin-top: 8px;
}

.logo img {
    width: 124px;
}

a.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: rgb(255, 0, 0);
    transition-duration: 0.3s;
    cursor: pointer;
}

h1 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    margin-bottom: 0px;
    margin-top: 84px;
}

.description {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.btn {
    width: 244px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 17px;
    background: #efa969;
    color: white;
    border-color: #efa969;
    border-radius: 3px;
}

.btn:hover {
    border: 1px solid #efa969;
    color: #efa969;
    background: white;
    transition-duration: 0.5s;
}

.cat1 {
    position: relative;
}

.cat1 img {
    width: 416px;
    left: -116px;
    top: 211px;
    position: absolute;
}

.dog1 {
    position: relative;
}

.dog1 img {
    position: absolute;
    width: 590px;
    left: -187px;
    top: 6px;
}