@font-face {
    font-family: 'regular';
    src: url(../fonts/gothampro.ttf);
}

@font-face {
    font-family: light;
    src: url(../fonts/gothampro_light.ttf);
}

@font-face {
    font-family: medium;
    src: url(../fonts/gothampro_medium.ttf);
}

body {
    margin: 0;
}

.container {
    border: 1px solid rgb(255, 0, 0);
    margin: 0px auto;
    max-width: 1400px;
    padding: 0;
}

div {
    border: 1px solid green;
}

li {
    list-style-type: none;
    margin-left: 58px;
    font-family: 'regular';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

ul {
    display: flex;
    margin-top: 8px;
}

.logo img {
    width: 124px;
}

a.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: rgb(255, 0, 0);
    transition-duration: 0.3s;
    cursor: pointer;
}

h1 {
    font-family: medium;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    margin-bottom: 0px;
    margin-top: 84px;
}

.description {
    font-family: light;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.btn {
    height: 41px;
    width: 228px;
    font-family: Medium;
    font-size: 13px;
    background: #efa969;
    color: white;
    border-color: #efa969;
    border-radius: 3px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
}

.btn:hover {
    background: #e28d3d;
    color: white;
}

.conteiner-btn {
    display: flex;
}

.btn-primary {
    border: 1px solid #efa969;
    color: #efa969;
    background: white;
}

.cat1 {
    position: relative;
}

.cat1 img {
    width: 416px;
    left: -116px;
    top: 211px;
    position: absolute;
}

.dog1 {
    position: relative;
}

.dog1 img {
    position: absolute;
    width: 590px;
    left: -187px;
    top: 6px;
}

.white {
    width: 100%;
    background-color: #ffff;
    z-index: 2;
    position: relative;
}

h3 {
    font-family: medium;
    Font-size: 19px;
    margin: 0;
}

.shield-text {
    padding-left: 19px;
    font-family: 'regular';
    Font-size: 14px;
    color: #707070;
    margin-top: 0;
}

.animals {
    margin-bottom: 190px;
}

.Next {
    display: flex;
    margin-top: 42px;
}

.Next img {
    height: 25px;
    margin-top: 16px;
}

h2 {
    font-size: 43px;
    font-family: Medium;
    margin-bottom: 0;
}

.show {
    margin-left: 51px;
    Font-size: 17px;
    font-family: 'regular';
}

.special {
    padding-left: 0;
}

.special-block {
    padding-top: 0;
}

.next-left img {
    position: absolute;
    top: 581px;
    left: -52px;
}

.next-right img {
    position: absolute;
    top: 557px;
    left: 1401px;
}

.human img {
    height: 339px;
}

.human {
    padding: 0;
}

h4 {
    margin: 0;
    font-family: Medium;
    Font-size: 21px;
}

.name-human {
    margin-top: 5px;
}

.btn-human {
    width: 330px;
}

.services {
    font-family: Medium;
    font-size: 14px;
}

.bot {
    border-radius: 100%;
    background-color: #c4c4c4;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 8px;
}

.slade {
    text-align: center;
    padding-top: 10px;
    margin-right: 3px;
}