@font-face {
    font-family: 'regular';
    src: url(../fonts/gothampro.ttf);
}

@font-face {
    font-family: light;
    src: url(../fonts/gothampro_light.ttf);
}

@font-face {
    font-family: medium;
    src: url(../fonts/gothampro_medium.ttf);
}

body {
    margin: 0;
}

.container {
    margin: 0px auto;
    max-width: 1800px;
    padding: 0;
    padding-left: 40px;
}

li {
    list-style-type: none;
    margin-left: 38px;
    font-family: 'regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

ul {
    display: flex;
    margin-top: 7px;
    padding-left: 0px;
}

.logo img {
    width: 90px;
}

a.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: rgb(255, 0, 0);
    transition-duration: 0.3s;
    cursor: pointer;
}

h1 {
    font-family: medium;
    font-style: normal;
    font-weight: 400;
    font-size: 49px;
    margin-bottom: 0px;
    margin-top: 61px;
}

.description {
    font-family: light;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
}

.btn {
    height: 41px;
    width: 228px;
    font-family: Medium;
    font-size: 13px;
    background: #efa969;
    color: white;
    border-color: #efa969;
    border-radius: 3px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
}

.btn:hover {
    background: #e28d3d;
    color: white;
}

.conteiner-btn {
    display: flex;
}

.btn-primary {
    border: 1px solid #efa969;
    color: #efa969;
    background: white;
}

.cat1 {
    position: relative;
}

.cat1 img {
    width: 416px;
    left: -204px;
    top: 174px;
    position: absolute;
    z-index: 2;
}

.dog1 {
    position: relative;
}

.dog1 img {
    position: absolute;
    width: 569px;
    left: -276px;
    top: -35px;
    z-index: 2;
}

.white {
    width: 100%;
    background-color: #ffff;
    z-index: 2;
    position: relative;
    padding-right: 65px;
}

h3 {
    font-family: medium;
    Font-size: 19px;
    margin: 0;
}

.shield-text {
    padding-left: 19px;
    font-family: 'regular';
    Font-size: 14px;
    color: #707070;
    margin-top: 0;
}

.animals {
    margin-bottom: 190px;
}

.Next {
    display: flex;
    margin-top: 42px;
}

.Next img {
    height: 25px;
    margin-top: 16px;
}

h2 {
    font-size: 43px;
    font-family: Medium;
    margin-bottom: 0;
}

.show {
    margin-left: 51px;
    Font-size: 17px;
    font-family: 'regular';
}

.special {
    padding-left: 0;
}

.special-block {
    padding-top: 0;
}

.next-left img {
    position: absolute;
    top: 551px;
    left: -36px;
}

.next-right img {
    position: absolute;
    top: 551px;
    left: 1417px;
}

.human img {
    height: 339px;
}

.human {
    padding: 0;
}

h4 {
    margin: 0;
    font-family: Medium;
    Font-size: 21px;
}

.name-human {
    margin-top: 5px;
}

.btn-human {
    width: 330px;
}

.services {
    font-family: Medium;
    font-size: 14px;
}

.bot {
    border-radius: 100%;
    background-color: #c4c4c4;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-left: 8px;
}

.slade {
    text-align: center;
    padding-top: 10px;
    margin-right: 3px;
}

.blue {
    height: 198px;
    background: #BFE4F4;
    border-radius: 10px;
    width: 33%;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    padding-left: 28px;
}

.orange {
    background: #F3C37C;
    border-radius: 10px;
    height: 198px;
    width: 33%;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    padding-left: 28px;
}

.grean {
    background: #ABFFC8;
    border-radius: 10px;
    height: 198px;
    width: 33%;
    position: relative;
    overflow: hidden;
    padding-left: 28px;
}

.podval {
    display: flex;
}

.prace {
    Font-family: Medium;
    Font-size: 12px;
}

h5 {
    Font-family: Medium;
    Font-size: 20px;
    margin-bottom: 34px;
    margin-top: -7px;
}

.h5-cat {
    font-size: 22px;
    margin-bottom: 0px;
}

.account {
    Font-family: 'Light';
    Font-size: 14px;
}


.dog-2 img {
    position: absolute;
    width: 209px;
    top: 0px;
    height: 209px;
    right: -2px;
    z-index: 1;
}

.dog-3 img {
    position: absolute;
    width: 139px;
    right: 0px;
    top: 3px;
    z-index: 1;
}

.cat-2 img {
    position: absolute;
    width: 128px;
    top: 27px;
    right: 0px;
    z-index: 1;
}

.red {
    background: #EFCECE;
    width: 33%;
    height: 198px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding-left: 28px;
}



.dog-4 img {
    position: absolute;
    width: 195px;
    top: 17px;
    right: 0px;
    z-index: 1;
}

.ellipse {
    position: relative;
}

.ellipse img {
    position: absolute;
    width: 134px;
    top: 53px;
    right: -1px;
}

.orance-ellipse {
    position: relative;
}

.orance-ellipse img {
    position: absolute;
    width: 515px;
    right: -17px;
    top: -86px;
}

.orance-ellipse-2 {
    position: relative;
}

.orance-ellipse-2 img {
    position: absolute;
    left: -208px;
    width: 713px;
    top: 309px;
    z-index: 1;
}

.yellow-ellipse {
    position: relative;
}

.yellow-ellipse img {
    position: absolute;
    left: 165px;
    width: 186px;
    top: 157px;
}