@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/gothampro.eot');
    src: local('☺'), url('../fonts/gothampro.woff') format('woff'), url('../fonts/gothampro.ttf') format('truetype'), url('../fonts/gothampro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_gothampro_black';
    src: url('../fonts/gothampro_black.eot');
    src: local('☺'), url('../fonts/gothampro_black.woff') format('woff'), url('../fonts/gothampro_black.ttf') format('truetype'), url('../fonts/gothampro_black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_gothampro_blackitalic';
    src: url('../fonts/gothampro_blackitalic.eot');
    src: local('☺'), url('../fonts/gothampro_blackitalic.woff') format('woff'), url('../fonts/gothampro_blackitalic.ttf') format('truetype'), url('../fonts/gothampro_blackitalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_gothampro_bold';
    src: url('../fonts/gothampro_bold.eot');
    src: local('☺'), url('../fonts/gothampro_bold.woff') format('woff'), url('../fonts/gothampro_bold.ttf') format('truetype'), url('../fonts/gothampro_bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_gothampro_bolditalic';
    src: url('../fonts/gothampro_bolditalic.eot');
    src: local('☺'), url('../fonts/gothampro_bolditalic.woff') format('woff'), url('../fonts/gothampro_bolditalic.ttf') format('truetype'), url('../fonts/gothampro_bolditalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_gothampro_italic';
    src: url('../fonts/gothampro_italic.eot');
    src: local('☺'), url('../fonts/gothampro_italic.woff') format('woff'), url('../fonts/gothampro_italic.ttf') format('truetype'), url('../fonts/gothampro_italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_gothampro_light';
    src: url('../fonts/gothampro_light.eot');
    src: local('☺'), url('../fonts/gothampro_light.woff') format('woff'), url('../fonts/gothampro_light.ttf') format('truetype'), url('../fonts/gothampro_light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_gothampro_lightitalic';
    src: url('../fonts/gothampro_lightitalic.eot');
    src: local('☺'), url('../fonts/gothampro_lightitalic.woff') format('woff'), url('../fonts/gothampro_lightitalic.ttf') format('truetype'), url('../fonts/gothampro_lightitalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_gothampro_medium';
    src: url('../fonts/gothampro_medium.eot');
    src: local('☺'), url('../fonts/gothampro_medium.woff') format('woff'), url('../fonts/gothampro_medium.ttf') format('truetype'), url('../fonts/gothampro_medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_gothampro_mediumitalic';
    src: url('../fonts/gothampro_mediumitalic.eot');
    src: local('☺'), url('../fonts/gothampro_mediumitalic.woff') format('woff'), url('../fonts/gothampro_mediumitalic.ttf') format('truetype'), url('../fonts/gothampro_mediumitalic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}